<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Estadísticas de Actividades</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='estadistica.css') }}">
</head>
<body>

  <h1>Estadísticas de Actividades</h1>

  <div>
    <h2>Actividades por Día</h2>
    <img src="{{ url_for('static', filename='Actividadespordia.png') }}" alt="Gráfico de actividades por día">
  </div>

  <div>
    <h2> Actividades por Tipo</h2>
    <img src="{{ url_for('static', filename='actividadesportipo.png') }}" alt="Gráfico de actividades por tipo">
  </div>

  <div>
    <h2>Actividades por Horario y Mes</h2>
    <img src="{{ url_for('static', filename='actividadespormes.png') }}" alt="Gráfico de actividades por mes y horario">
  </div>

  <button onclick="location.href='{{ url_for(Portadaa.html) }}'" style="cursor: pointer;">Volver a Portada</button>

</body>
</html>
